body {
  background-color: #f3f2ef;
}

/* Interest css */
.links {
  color: #181818;
  text-decoration: none;
}

.links:hover {
  color: #0A6BC4;
  text-decoration: underline;
}

.btnExp:hover {
  background-color: #F3F3F3;
}

.btnShowExp:hover {
  color: black;
}

/* il css del footer comincia qui */
.global-footer {
  background-color: #f3f2ef;
  padding: 30px 0;
  font-size: 14px;
  color: #666;
}

.global-footer a {
  text-decoration: none;
  color: #666;
}

.global-footer a:hover {
  text-decoration: underline;
}

.global-footer .form-label {
  margin-top: 10px;
  font-weight: bold;
}

.global-footer p {
  margin: 20px 0 0;
  text-align: center;
}

.cuadro {
  color: #c37d16;
}